.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: var(--background--color);
    z-index: 30;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.instagram_icon {
    margin-left: 0.5rem;
}

.header_searchbar {
    position: relative;
    display: flex;
    align-items: center;
}

.scope_icon {
    position: absolute;
    width: 1rem;
    margin-left: 0.5rem;
}

.search_input {
    border: 0.5px solid var(--instagram--maincolor);
    border-radius: 1em;
    background-color: var(--instagram--maincolor);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 15rem;
    height: 2em;
    border: 1px solid rgb(219, 219, 219);

}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 0.5rem;
}

.myprofile_button {
    width: 2.4em;
    height: 2.4em;
}